<html>

	<title>Galileo</title>

	<head>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="{{ url_for('static', filename='stylesheets/styles.css') }}" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
	</head>

	<body>
	    <div class="container">
	    	<img class="center-block logo" src="{{ url_for('static', filename='img/logo2.png') }}" />
	    	
	    	<div class="panel panel-primary main-panel">
				<div class="panel-heading main-panel-heading">
					<h3 class="panel-title center-block">Enter your classes.</h3>
				</div>
				<div class="panel-body main-panel-body">
					<button type="button" class="btn btn-danger center-block">Discover.</button>
				</div>
			</div>
	    </div>
	    
	</body>

</html>